*{
    font-family: 'Roboto', sans-serif !important;
    background-color: papayawhip !important;
}
.tit h1{
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color:sienna;
    font-weight: 900;
    margin-bottom: 50px;
}
 h2{
    font-family: 'Roboto', sans-serif;
    font-size: 28px !important;
    color: tomato;
    font-weight: 900 !important;
    margin-bottom: 10px !important;
}
.col-md-6  li{
    font-size: 14px !important;
}
.card-group{
    padding-left: 10px !important;
    
}
input{
    width: 400px !important;

}
form{
    margin-left: 20px !important;
    padding-bottom: 30px;
}
.form-group{
  margin-left: 20px!important;
}